.Home__main-content {
  margin-bottom: 30px;
}

.Load__question {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 30px;
  padding: 20px;
  border: 1px solid #dedede;
  background: #fff;
  -moz-box-shadow: 0 0 5px #dedede;
  -webkit-box-shadow: 0 0 5px #dedede;
  box-shadow: 0 0 5px #dedede;
  position: relative;
}

.tab-inner .Load__question:first-child {
  margin-top: 0;
}

.Load__question h2 {
  margin: 0 0 30px 101px;
  color: #474d5d;
  overflow: hidden;
  font-size: 22px;
  font-weight: bold;
  padding-right: 161px;
}

.Load__question h2 a {
  color: #2f3239;
}

.tab-inner-warp {
  padding: 20px;
  color: #2f3239;
}

.tab-inner-warp > .tab-inner > *:last-child {
  margin-bottom: 0;
}

.Load__question-inner {
  position: relative;
  margin-left: 101px;
}

.Load__question-desc {
  margin-bottom: 20px;
  padding-bottom: 30px;
  line-height: 22px;
  font-size: 13px;
  border-bottom: 1px solid #dedede;
  color: #848991;
}

/* vote css */

.vote-up {
  position: absolute;
  top: 30px;
  left: 50px;
  float: left;
  text-align: center;
  overflow: hidden;
  padding: 2px;
}

.vote-up div {
  width: 0;
  height: 0;
  overflow: hidden;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid #21a654;
}

.question-author-vote {
  position: relative;
  display: block;
}

.question-author-vote span {
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  z-index: 99;
  display: block;
  line-height: 65px;
  overflow: hidden;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.question-author-img:hover span:before {
  opacity: 0.7;
  filter: alpha(opacity=70);
  content: "\f0fe";
  font-family: "FontAwesome";
}

/* end vote up */

/* vote down */
.vote-down {
  position: absolute;
  top: 80px;
  left: 50px;
  float: left;
  text-align: center;
  overflow: hidden;
  padding: 2px;
}

.vote-down div {
  width: 0;
  height: 0;
  overflow: hidden;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid #21a654;
}

.question-author-vote-down {
  position: relative;
  display: block;
}

.question-author-vote-down span {
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  z-index: 99;
  display: block;
  line-height: 65px;
  overflow: hidden;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.question-author-img:hover span:before {
  opacity: 0.7;
  filter: alpha(opacity=70);
  content: "\f0fe";
  font-family: "FontAwesome";
}

/* end vote down */

/* vote value */
.number-vote {
  position: absolute;
  top: 55px;
  left: 58px;
  width: 58px;
  height: 58px;
  float: left;
  text-align: center;
  overflow: hidden;
  padding: 2px;
}

input#number-vote {
  position: relative;
  display: block;
  margin: 0 auto;
  border: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* end of vote value */
