.index {
  margin-bottom: 70px;
}
#header {
  height: 86px;
  position: relative;
  background-color: #2f3239;
}
#header .logo {
  float: left;
  line-height: 86px;
  -webkit-transition: padding 0.8s;
  -moz-transition: padding 0.8s;
  transition: padding 0.8s;
}
.navigation {
  float: right;
}
.navigation > ul li {
  float: left;
  line-height: 1;
  position: relative;
  height: 100%;
  font-size: 14px;
  font-weight: bold;
  margin-top: 25px;
  margin-right: 5px;
}
.navigation > ul > li > .a-link {
  display: block;
  position: relative;
  float: left;
  padding: 0 9px;
  line-height: 36px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.navigation li:hover ul {
  display: block;
  top: 0;
  background-color: #fff;
  -moz-box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}
.navigation > ul > li:hover > ul {
  top: 36px;
}
.navigation li ul li ul {
  position: absolute;
  left: 201px;
  margin-top: -1px;
}
.navigation ul > li > ul > li {
  float: none;
  border: none;
  margin: 0;
}
.navigation ul > li ul {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 993;
  width: 200px;
}
.navigation li ul li .a-link {
  height: inherit;
  float: inherit;
  text-align: left;
  line-height: 35px;
  display: block;
  margin: 0 !important;
  padding: 0 15px;
  z-index: 993;
  color: #2f3239;
  font-size: 13px;
  font-weight: normal;
}
.navigation li > ul,
.navigation li > ul li > ul,
.navigation li ul li ul {
  display: none;
  overflow: hidden;
}
.navigation ul > li ul li {
  position: relative;
  float: none;
  line-height: 35px;
  height: 35px;
}
